.category-movies-container {
  margin-top: 100px
}

.category-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.category-movies-title{
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-right: 20px;
}

.category-button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Стиль для активної кнопки */
.category-button.active {
  background-color: #007bff; /* Синій колір */
  color: white;
  border-color: #0056b3;
  font-weight: bold;
}