.filtered-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.filtered-movies-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
