.header-container {
  height: 80px;
  background-color: #3b82f6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header-container a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin-left: 1rem;
}

.header-container li a:hover {
  background-color: #777;
}

.container {
  display: flex;
  align-items: center;
}

.header-container-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
